header {
    background-image: url('rivers-logo.jpg.jpg');
    background-size: cover; 
    background-position: center; 
    height: 300px; 
    color: white; 
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  